* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  color: #007BFF;
}

.category {
  margin-bottom: 30px;
}

h2 {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 10px 0;
}

ul li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

ul li:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .category h2 {
    font-size: 1.25rem;
  }

  ul li {
    font-size: 0.9rem;
  }
}
