body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Coloque o caminho da imagem de fundo aqui */
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Transparente para ver a imagem de fundo */
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Transparente para ver a imagem de fundo */
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

#info-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#info-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

#info-form button:hover {
    background-color: #45a049;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.present {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.present span {
    font-size: 18px;
}
